/* Ovo osigurava da se u svim browserima prikazuje isto :) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%; /*mučki provokator!*/
	font-family: "Arial";
	font: inherit;
	vertical-align: baseline;
}

table {
    border: 1px;
}

html, body {
    margin:0;
    padding:0;
    height: 100%;
}

body {
    background-color: #ffd175;
	color:#666666;
}

/*/*mislim da nam ovo ne treba *\/
.wrapper{
    position:relative;
    min-height:100%;
}

.content_title {
	position: absolute;
	padding-top: 15px;
	padding-left: 15px;
	font-size:14px;
	margin-bottom: 1px;
	font-weight:bold;
	width: 400px;
	color: #FFF;
	height: 21px;
}

#content_title a, #content_title a:visited {
	color: #DEF0FE;
}

#header {
	width: 100%;
	background-color: rgb(215,215,215);
	color: #333;
	line-height: 130%;
}
*/

#zaglavlje {
    position:absolute;
    width:100%;
    height: 50px;
    top:0;
    bottom:0;
	background-color: #993300;
}

#zaglavlje_logout {
    font-family: "Arial";
    float: right;
    padding: 10px;
}

#zaglavlje_logo {
    font-size: 30px;
	font-weight: bold;
	float: left;
    width:250px;
    color:  #ffd175;
    padding:10px;
}

#zaglavlje_tabovi {
    font-family: "Arial";
	margin-left:250px; /* Isto kao width u #lijeva_kolona */
	margin-right:100px;
	padding-left:10px;
	padding-top: 13px;
}

#show {
    position:absolute;
    top:50px; /* Isto kao height u #zaglavlje */
    bottom:0;
    width: 100%;
}

#lijeva_kolona {
    float: left;
    width:250px;
	height: 100%;
	color: #8a0000 !important;
	background-color: #ffd175;
	font-size:17px;
    overflow:auto;

}

#contents {
    font-family: "Arial";
    height: 100%;
	overflow: auto;
	margin-left:250px; /* Isto kao width u #lijeva_kolona */
	background-color: lightyellow;
	-webkit-border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
            border-radius: 10px 0px 0px 10px;
}

#content {
    font-family: "Arial";
    padding: 10px;
    
}

.lijevo20{
    padding-left: 20px;
}

#stablo {
    font-family: "Arial";
    font-size: 15px;
    background: inherit;
    color: #8a0000;
    padding-left: 20px;
}

.margin-left-30{
    margin-left: 30px;
}

.isti_red{
    display: inline;
}

/* OBAVIJESTI */
#obavijest {
    border: 5px solid gray;
    padding: 10px;
    background: white;
    width: 400px;
    z-index: 100;
}

.error{
    color: red;
    font-weight:bold;
}

.tabbable{
    -webkit-border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
            border-radius: 10px 10px 0px 0px;  
}
.success{
    color: green;
    font-weight:bold;
}

.login-form{
    padding-top: 50px;
    padding-left: 75px;
    font-weight: bold;
    
}
.nameProcedure{
    font-weight: bold;
    font-size: 20pt;
}
.srcProcedure{
    margin-top:10px;
}