                        <div class="tab-pane" id="dbid<%- dbid %>">
                            <!-- Tabovi -->
                            <div class="tabbable">
                                <ul class="nav nav-tabs" id="tabsdbid<%- dbid %>" data-tabs="tabs">
                                    <li class="active">
                                        <a href="#sqldbid<%- dbid %>" data-toggle="tab">SQL editor</a>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="tab-content" id="dbidcontent<%- dbid %>">
                                <div class="tab-pane active" id="sqldbid<%- dbid %>">
                                    <% include sql_editor %>
                                </div>
                            </div>
                        </div>