<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <head>
        <title>Univerzalna web aplikacija za rad s bazama podataka</title>
        <meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
        <script src="js/json-to-table.js"></script>
        
        
    </head>
    <body>
        <div id='jsonTable'>
            
        </div>
    </body>
    <script>
       
    var ID = data.rslt.obj.attr("id");
  
    document.getElementById("jsonTable").innerHTML = ConvertJsonToTable(objectArray, null, null, 'Download');
    </script>
</html>