<div class="tab-pane" id="procedure<%- dbid %>-<%- procname %>">
    <div id="nameProcedure<%- dbid %>-<%- procname %>" class="tab-content nameProcedure">

    </div>
    <div id="srcProcedure<%- dbid %>-<%- procname %>" class="tab-content srcProcedure">

    </div>
</div>