<div class="login-form">
    <h1>Registracija baze podataka</h1>
    <form action="" id="registracijaBazeForm" method="POST">
        <fieldset>
            <div class="clearfix">
                <input type="text" name="databasename" placeholder="Ime baze">
            </div>
            <div class="clearfix">
                <input type="text" name="dbalias" placeholder="Alias baze">
            </div>
            <div class="clearfix">
            
                <select class="selectpicker" name="dbtype" placeholder="Tip baze">
                    <option value="MYSQL">MYSQL</option>
                    <option value="POSTGRES">Postgres</option>
                    <option value="MSSQL">MSSQL</option>
                </select>
                
               <!-- TODO: staviti da select pamti bazu koja je bila izabrana -->
            </div>
            <div class="clearfix">
                <input type="text" name="username" placeholder="Korisničko ime">
            </div>
            <div class="clearfix">
                <input type="password" name="password" placeholder="Lozinka" >
            </div>
            <div class="clearfix">
                <input type="text" name="server" placeholder="Server">
            </div>
            <div class="clearfix">
                <input type="text" name="port" placeholder="Port">
            </div>
            <button class="btn primary" type="submit" id="registerDB">Registriraj bazu</button>
            <button class="btn primary" type="submit" id="registerDBcheck">Provjeri vezu</button>
        </fieldset>
    </form>
</div>