<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title><%- title %></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <!-- bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        
        <!-- jQuery -->
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.form.js"></script>
        
        <!-- DataTables -->
        <script type="text/javascript" src="DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="DataTables-1.9.4/media/css/jquery.dataTables.css">
        
        <!-- Codemirror -->
        <script src="js/codemirror.js"></script>
        <script src="js/sql.js"></script>
        <link rel="stylesheet" href="css/codemirror.css">
        <link rel="stylesheet" href="css/docs.css">
        
        <!-- json-to-table -->
        <script src="js/json-to-table.js"></script>
        
        <!-- jsTree -->
        <script type="text/javascript" src="jstree-v.pre1.0/_lib/jquery.cookie.js"></script>
        <script type='text/javascript' src="jstree-v.pre1.0/_lib/jquery.hotkeys.js"></script>
        <script type='text/javascript' src="jstree-v.pre1.0/jquery.jstree.js"></script>
        
        <!-- css stranice -->
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body>

        <!-- bootstrap js -->
        <script src="js/bootstrap.min.js"></script>
        
        <% include siteBody %>
        
        <!-- obavijesti -->
        <script src="js/obavijest.js"></script>
        
        <!-- izbornik -->
        <script src="js/sql_editor.js"></script>
        
        <!-- izbornik -->
        <script src="js/izbornik.js"></script>
        
        <!-- registriraj Baz podataka -->
        <script src="js/registerDB.js"></script>
        

    </body>
</html>
