            <!-- Za prikazivanje obavijesti -->
            <div id="obavijest" style="display:none">
                <h2>Obavijesti:</h2>
                <div id="obavijest_tekst"></div>
                <div class="btn" id="close" >Close</div>
            </div>
            
            <!-- zaglavlje -->
            <div id="zaglavlje">
                <div id="zaglavlje_logout"> 
                    <a class="btn" href="logout">Logout</a>
                </div>
                <div id="zaglavlje_logo">
                    FER Projekt
                </div>
                <div id="zaglavlje_tabovi">
                    <div class="tabbable">
                        <ul class="nav nav-tabs" id="dbtabs" data-tabs="tabs">
                            <li class="active">
                                <a href="#registrirajBazu" data-toggle="tab">
                                    Registriraj bazu
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <!-- glavni dio stranice (izbornik + content) -->
            <div id="show">
                
                <!-- Izbornik -->
                <div id="lijeva_kolona">
                    <div id="stablo">
                    </div>
                </div>
                
                <!-- div za prikaz sadržaja -->
                <div id="contents">
                    <div id="content" class="tab-content">
                        <div class="tab-pane active" id="registrirajBazu">
                            <% include registerDBBody %>
                        </div>
                    </div>
                </div>
            </div>