
<div class="SQL_editor">
    <form class="isti_red" id="izvrsiSQL<%- dbid %>" action="/api/SQL" method="POST">
        <textarea id="code<%- dbid %>" name="code"></textarea>
        <input name="dbid" value="<%- dbid %>" type="hidden">
        <button type="submit" class="btn btn-default btn-lg margin-left-30 izvrsavanje_sqla_gumb">
            <span class="izvrsavanje_sqla_gumb"><img src="img/run.png" alt="Izvrši SQL" style="height: 20px"></span>
        </button>
        
    </form>
    <form class="isti_red" id="izvrsiselektiranSQL<%- dbid %>" action="/api/SQL" method="POST">
        <input name="dbid" value="<%- dbid %>" type="hidden">
        <button type="submit" class="btn btn-default btn-lg izvrsavanje_sqla_gumb">
            <span class="izvrsavanje_sqla_gumb"><img src="img/run_selected.png" alt="Izvrši označeni SQL" style="height: 20px"></span>
        </button>
    </form>
</div>

<br />

 <div id="tabovi_sql_izvrseno">
    <div class="tabbable">
        <ul class="nav nav-tabs" id="izvrsiSQLtabovi<%- dbid %>" data-tabs="tabs">
            
        </ul>
    </div>
</div>

<div id="rezultatSQL<%- dbid %>" class="tab-content">
</div>