<div class="tab-pane lijevo20" id="table<%- dbid %>-<%- tableName %>">
    <div class="tabbable">
        <ul class="nav nav-tabs" id="taboviTablice<%- dbid %>" data-tabs="tabs">
            <li>
                <a href="#Collumns<%- dbid %><%- tableName %>" data-toggle="tab">
                    Columns
                </a>
            </li>
            <li>
                <a href="#PK<%- dbid %><%- tableName %>" data-toggle="tab">
                    PK
                </a>
            </li>
            <li>
                <a href="#FK<%- dbid %><%- tableName %>" data-toggle="tab">
                    FK
                </a>
            </li>
            <li>
                <a href="#Content<%- dbid %><%- tableName %>" data-toggle="tab">
                    Pregledaj
                </a>
            </li>
        </ul>
    </div>

    <div id="rezultatTablice<%- dbid %>" class="tab-content">
        <div class="tab-pane" id="Collumns<%- dbid %><%- tableName %>">
        </div>
        <div class="tab-pane" id="PK<%- dbid %><%- tableName %>">
        </div>
        <div class="tab-pane" id="FK<%- dbid %><%- tableName %>">
        </div>
        <div class="tab-pane" id="Content<%- dbid %><%- tableName %>">
        </div>
    </div>
</div>