<div class="tab-pane" id="view<%- dbid %>-<%- viewname %>">
    <div id="nameView<%- dbid %>-<%- viewname %>" class="tab-content nameProcedure">

    </div>
    <div id="srcView<%- dbid %>-<%- viewname %>" class="tab-content srcProcedure">
        
    </div>
</div>