<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <head>
        <title>Univerzalna web aplikacija za rad s bazama podataka</title>
        <meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
        <script src="js/json-to-table.js"></script>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script type="text/javascript" src="js/jquery.min.js"></script>
        
    </head>
     <body>
        <div class="tabbable">
          <ul class="nav nav-tabs" id="tabs" data-tabs="tabs">
            <li class="active"><a href="#one" data-toggle="tab">One</a></li>
            <li><a href="#two" data-toggle="tab">Two</a></li>
            <li><a href="#three" data-toggle="tab">Three</a></li>
          </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="one"><p>Prvi</p></div>
              <div class="tab-pane" id="two"><p>Drugi</p></div>
              <div class="tab-pane" id="three"><p>Treci</p></div>
            </div>
          
        
       
        <script type="text/javascript">
           /*$('#myTab a').click(function (e) {
              e.preventDefault()
              $(this).tab('show')
            }); 
             jQuery(document).ready(function ($) {
                $('#tabs').tab();
             });*/
        </script>
        
        </div> 

       <!-- <div id="div1">
        </div>
        <div id="div2">
            <input type="button" value="Go!" onclick="go()" />
        </div>
        <script type="text/javascript">
            var newsc = '<script id="sc1" type="text/javascript">function go() { alert("GO!") }<\/script>';
            var e = document.getElementById('div1');
            e.innerHTML = newsc;
            eval(document.getElementById('sc1').innerHTML);
        </script> -->
        
    </body>      
    
    <script src="js/bootstrap.min.js"></script>

    
</html>
