    <div class="wrapper"> 
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="login-form">
                        <h2>Prijava</h2>
                        <%- message %>
                        <form action="login" method="POST">
                            <fieldset>
                                <div class="clearfix">
                                    <input type="text" name="username" placeholder="Korisničko ime" value=<%- req.session.loginUsernameValue %> >
                                </div>
                                <div class="clearfix">
                                    <input type="password" name="password" placeholder="Lozinka">
                                </div>
                                <button class="btn primary" type="submit">Prijavi se</button>
                            </fieldset>
                        </form>
                        <a href="register">Registriraj se</a>
                    </div>
                </div>
            </div>
        </div>
    </div>