    <div class="wrapper"> 
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="login-form">
                        <h2>Registracija</h2>
                        <%- message %>
                        <form action="register" method="POST">
                            <fieldset>
                                <div class="clearfix">
                                    <input type="text" name="username" placeholder="Korisničko ime" value=<%- req.session.registerUsernameValue %>>
                                </div>
                                <div class="clearfix">
                                    <input type="password" name="password" placeholder="Lozinka">
                                </div>
                                <div class="clearfix">
                                    <input type="text" name="fname" placeholder="Ime" value=<%- req.session.registerFnameValue %>>
                                </div>
                                <div class="clearfix">
                                    <input type="text" name="lname" placeholder="Prezime" value=<%- req.session.registerLnameValue %> >
                                </div>
                                <div class="clearfix">
                                    <input type="text" name="email" placeholder="E-mail adresa" value=<%- req.session.registerEmailValue %> >
                                </div>
                                <button class="btn primary" type="submit">Registriraj se</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>