<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <meta name="description" content="">
        <meta name="author" content="">
    
        <!-- Le styles -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <style type="text/css">
            html, body {
                background-color: #eee;
            }
            
            body {
                padding-top: 40px; 
            }
            .container {
                width: 300px;
            }
            
            /* The white background content wrapper */
            .container > .content {
                background-color: #fff;
                padding: 20px;
                margin: 0 -20px; 
                -webkit-border-radius: 3px 3px 3px 3px;
                   -moz-border-radius: 3px 3px 3px 3px;
                        border-radius: 30px 30px 30px 30px;
                -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                        box-shadow: 0 1px 2px rgba(0,0,0,.15);
            }
    
            .login-form {
                margin-left: 65px;
            }
            
            .error{
                color: red;
                font-weight:bold;
            }
            
            .success{
                color: green;
                font-weight:bold;
            }
    
        </style>

    </head>
    <body>
        <% if (body == 'loginBody') { %>
            <% include loginBody %>
        <% } else if (body == 'registerBody') { %>
            <% include registerBody %>
        <% } %>
    </body>
</html>